<section class="container-fluid my-5 p-0">
  <h1 class="text-center my-4 text-primary font-weight-bold display-4" id="preguntas">PREGUNTAS FRECUENTES</h1>

  <div class="row mx-0">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="faq-item bg-light p-4 rounded mb-4">
        <h4 class="text-primary mb-3">¿Cómo funciona el servicio de renta de bicicletas de Nodo Travel?</h4>
        <p class="text-dark">Explicación detallada del proceso de registro, búsqueda y alquiler de bicicletas a través de nuestra aplicación web.</p>
      </div>

      <div class="faq-item bg-light p-4 rounded mb-4">
        <h4 class="text-primary mb-3">¿Qué tipo de bicicletas puedo alquilar?</h4>
        <p class="text-dark">Puedes alquilar bicicletas de tres tipos: Tradicional, Eléctrica y de Montaña. Cada una ofrece una experiencia única para adaptarse a tus preferencias y necesidades de viaje.</p>
      </div>

      <div class="faq-item bg-light p-4 rounded mb-4">
        <h4 class="text-primary mb-3">¿Cuánto cuesta alquilar una bicicleta?</h4>
        <p class="text-dark">Después de la tarifa base, solo pagas por el tiempo de uso o de acuerdo al plan adquirido.</p>
      </div>

      <div class="faq-item bg-light p-4 rounded">
        <h4 class="text-primary mb-3">¿Cómo se abordan los temas ambientales y de sostenibilidad en Nodo Travel?</h4>
        <p class="text-dark">Nodo Travel es una empresa que se preocupa por el medio ambiente y la sostenibilidad. Por ello, hemos implementado una serie de medidas para reducir nuestra huella de carbono y promover un estilo de vida más saludable y sostenible.</p>
      </div>
    </div>
  </div>
</section>
